<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layouts/landing-layout}"
>
<head>
    <title>Reset Password</title>
    <th:block layout:fragment="styles">
        <link th:href="@{/css/forget-password.css}" rel="stylesheet">
    </th:block>
</head>

<body>
<div layout:fragment="content">
    <div layout:replace="~{fragments/lilypreloader :: preloader}"></div>
    <div class="custom_bg">
        <div class="container min-vh-100 d-flex justify-content-center pt-4 pb-4">
            <div class="box-shadow-grey custom-width-95">
                <form method="POST" name="mtuserloginfn" id="mtuserloginfid" role="form" autocomplete="off">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="text-center">Reset Password</h3>
                        </div>
                    </div>
                    <hr class="mb-5 mt-2">

                    <div class="row mb-3">
                        <label for="userid" class="col-md-4 col-form-label text-md-right">User ID:<span class="span">*</span></label>
                        <div class="col-md-6">
                            <input id="userid" class="form-control" required maxlength="100" />
                            <small id="userid-feedback" class="form-field-feedback"></small>
                        </div>
                    </div>

                    <div class="button-container mt-3">
                        <input id="btnSubmit" type="submit" value="SUBMIT" class="btn btn-register-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Custom Notification Modal -->
    <div id="customModal" class="custom-notification-overlay">
        <div class="custom-notification-content">
            <div class="custom-notification-header">
                <h5 class="custom-notification-title" id="modalTitle">Notification</h5>
                <button type="button" class="custom-notification-close-btn">×</button>
            </div>
            <div class="custom-notification-body">
                <p id="modalMessageText"></p>
            </div>
            <div class="custom-notification-footer">
                <button id="modalCancelBtn" class="btn btn-danger">Cancel</button>
                <button id="modalConfirmBtn" class="btn btn-info">OK</button>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        var resetUserPassword = [[@{/users/login-reset-password}]];
        var checkUserRoleUrl = [[@{/users/check-user-role}]];
    </script>
    <script th:src="@{/js/forget-password.js}"></script>
</th:block>
</body>
</html>