<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
>

    <!-- Right: Server Time -->
    <div layout:fragment="date-time" class="col-12">
        <div class="card-body p-0">
            <input id="sysdate" type="hidden" th:value="${sysdate}" />
            <input id="timeZoneOffset" type="hidden" th:value="${timeZoneOffset}" />

            <div class="d-flex flex-column align-items-end">

                <!-- Server Date -->
                <div title="Server date" class="d-flex pt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#005F5F" class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
                        <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5"/>
                    </svg>
                     
                    <h6 id="servdate"></h6>
                </div>

                <!-- Server Time -->
                <div title="Server time" class="d-flex pt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#005F5F" class="bi bi-clock-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                    </svg>
                     
                    <h6 id="servtime"></h6>
                </div>

            </div>
        </div>
    </div>
</html>