<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{${layoutPath}}"
>
<head>
    <div layout:fragment="static-files">
        <div layout:insert="~{fragments/ResourcePerson :: statics}"></div>
    </div>
    <title layout:fragment="title">Resource Person</title>
</head>
<body>
<main layout:fragment="content">
    <div layout:replace="~{fragments/ResourcePerson :: form}"></div>

    <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0 shadow-lg">
                <div class="modal-header bg-light border-0 px-4 py-3">
                    <h5 class="modal-title fw-bold text-dark" id="feedbackModalLabel">Message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-secondary p-4" id="feedbackModalBody">
                </div>
                <div class="modal-footer border-top-0 pt-0">
                    <button type="button" id="modalOkButton" class="btn btn-primary btn-modern px-4" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>